* {
  box-sizing: border-box;
}

.frame1321318035 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  padding-top: 24px;
  width: 256px;
  height: 900px;
  overflow: hidden;

  .frame1321318096 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-right: 12px;
    margin-left: 12px;
    min-width: 232px;

    .frame {
      flex-shrink: 0;
      width: 71px;
      height: 24px;
      overflow: hidden;
    }

    .icons {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }
  }

  .frame1321318086 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 24px;
    padding-right: 12px;
    padding-left: 12px;
    row-gap: 8px;

    .frame1321318047 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: #f7f7f7;
      row-gap: 20px;

      .frame1321318107 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 20px;

        .frame2 {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
          overflow: hidden;
        }

        .frame1321318099 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          border-radius: 8px;
          background: var(--cike, #e8e8e8);
          padding: 8px;

          .text {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--1, #171717);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .frame1321318118 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;

          .text2 {
            flex-shrink: 0;
            align-self: stretch;
            text-align: center;
            line-height: 12px;
            letter-spacing: 0;
            color: var(--Text-notation, #858b9b);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .frame1321318115 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--Line-Secondary, #e5e6eb);
            border-radius: 14px;
            background: #ffffff;
            padding-top: 2px;
            padding-bottom: 2px;
            width: 60px;
            height: 60px;
            row-gap: 6px;
          }

          .frame1321318117 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 14px;
            padding-top: 3px;
            padding-bottom: 3px;
            height: 60px;
            row-gap: 6px;
          }
        }
      }

      .frame1321318094 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        height: 620px;

        .frame1321318145 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 2px;

          .ellipse229 {
            position: absolute;
            top: -1px;
            left: 9px;
            flex-shrink: 0;
            width: 7px;
            height: 3px;
          }

          .component10 {
            flex-shrink: 0;
            width: 12px;
            height: 12px;
            overflow: hidden;
          }

          .component102 {
            flex-shrink: 0;
            width: 12px;
            height: 12px;
          }

          .frame13213176152 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 10px;
            border-radius: 20px;
            background: var(--cike, #e8e8e8);
            padding: 3px;
          }

          .frame1321318160 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            justify-content: center;
            row-gap: 2px;

            .text3 {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--Text-notation, #858b9b);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
            }

            .text4 {
              flex-shrink: 0;
              line-height: 17px;
              letter-spacing: 0;
              color: var(--Text-disable, #bcc1cd);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 11px;
            }
          }

          .frame1321318090 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            padding: 6px 8px;

            .frame1321317615 {
              display: inline-flex;
              position: relative;
              flex-shrink: 0;
              align-items: center;
              column-gap: 10px;
              border-radius: 20px;
              background: var(--cike, #e8e8e8);
              padding: 3px;
            }
          }

          .frame13213180902 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            padding: 6px 8px;
          }

          .frame13213180903 {
            display: flex;
            position: relative;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border-radius: 8px;
            background: var(--hover, #f0f0f0);
            padding: 6px 8px;

            .frame13213176153 {
              display: inline-flex;
              position: relative;
              flex-shrink: 0;
              align-items: center;
              column-gap: 10px;
              border-radius: 20px;
              background: var(--cike, #e8e8e8);
              padding: 3px;
            }

            .rectangle3 {
              position: absolute;
              top: 0;
              left: 186px;
              flex-shrink: 0;
              width: 18px;
              height: 40px;
              background-image: linear-gradient(
                90deg,
                #f0f0f000 0%,
                #f0f0f0 66.67%
              );
            }

            .icons2 {
              position: absolute;
              top: 16px;
              left: 204px;
              flex-shrink: 0;
              z-index: 1;
              width: 20px;
              height: 20px;
              overflow: hidden;
            }
          }

          .frame13213180904 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            padding: 6px 8px;

            .frame13213176154 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 10px;
              border-radius: 20px;
              background: var(--cike, #e8e8e8);
              padding: 3px;
            }
          }

          .frame13213180905 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border-radius: 8px;
            padding: 6px 8px;
          }
        }

        .frame13213181172 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          border-radius: 8px;
          background: var(--bj, #f7f7f7);
          padding: 10px 8px;

          .icons3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            padding: 3px;
            overflow: hidden;

            .icon {
              width: 12px;
              height: 12px;
            }
          }

          .text5 {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Text-heading, #2a2f3c);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
          }
        }
      }
    }
  }

  .frame1321317957 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    row-gap: 8px;

    .frame1321318123 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      border-width: 1px 0px 0px;
      border-style: solid;
      border-color: var(--Line-disable, #f2f3f5);
      padding: 15px 12px 16px;

      .frame348 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        border: 1px solid var(--Icon-white, #ffffff);
        border-radius: 11px;
        background: var(--Line-activate-1, #e6efff);
        padding: 8px 7px 0px 8px;
        height: 36px;
        overflow: hidden;

        .group4634 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          padding-top: 1px;
          padding-left: 1px;

          .rectangle4430 {
            border-radius: 0px 6px 6px;
            background: var(--Line-white, #ffffff);
            width: 11px;
            height: 13px;
          }

          .rectangle4431 {
            margin-top: 2px;
            border-radius: 5px;
            background: var(--Line-white, #ffffff);
            width: 19px;
            height: 15px;
          }
        }
      }

      .frame1321318124 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: center;
        row-gap: 4px;

        .text6 {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: 0;
          color: var(--Text-heading, #2a2f3c);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }

        .frame1321318125 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 6px;

          .frame1321317798 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 4px;
            background: var(--cike, #e8e8e8);
            padding: 3px 4px;

            .text7 {
              flex-shrink: 0;
              line-height: 10px;
              letter-spacing: 0;
              color: var(--Text-subhead, #495363);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
