* {
  box-sizing: border-box;
}

.frame1321318107 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 232px;
  height: 118px;
  row-gap: 20px;

  .frame {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  .frame1321318099 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 8px;
    border-radius: 8px;
    background: var(--cike, #e8e8e8);
    padding: 8px;

    .text {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--1, #171717);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .frame1321318118 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .text2 {
      flex-shrink: 0;
      align-self: stretch;
      text-align: center;
      line-height: 12px;
      letter-spacing: 0;
      color: var(--Text-notation, #858b9b);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .frame1321318115 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--Line-Secondary, #e5e6eb);
      border-radius: 14px;
      background: #ffffff;
      padding-top: 2px;
      padding-bottom: 2px;
      width: 60px;
      height: 60px;
      row-gap: 6px;
    }

    .frame1321318117 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 14px;
      padding-top: 3px;
      padding-bottom: 3px;
      height: 60px;
      row-gap: 6px;
    }
  }
}
