* {
  box-sizing: border-box;
}

.frame664 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 24px 24px 32px;
  width: 1190px;
  height: 900px;
  row-gap: 16px;

  .text {
    flex-shrink: 0;
    align-self: stretch;
    padding: 8px 0px;
    line-height: 30px;
    letter-spacing: 0;
    color: var(--1, #171717);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .frame1321318050 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 24px;

    .frame1321317794 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 12px;
      overflow: hidden;
      row-gap: 24px;

      .frame1000001697 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;
        background: #ffffff;
        width: 1172px;

        .tab99 {
          flex-shrink: 0;
          line-height: 27px;
          letter-spacing: 0;
          color: var(--1, #171717);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .frame1321318049 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 16px;

      .frame1321318042 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 16px;

        .frame1321318040 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 16px;
          border-radius: 16px;
          background: #f9fafb;
          padding-right: 24px;
          padding-left: 24px;
          width: 274px;
          height: 160px;
          overflow: hidden;

          .frame {
            flex-shrink: 0;
            width: 54px;
            height: 54px;
          }

          .text2 {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: 0;
            color: #000000;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }
    }

    .frame1321318048 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 16px;

      .frame3 {
        width: 36px;
        height: 36px;
        overflow: hidden;
      }

      .text4 {
        flex-shrink: 0;
        align-self: stretch;
        width: 250px;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--Text-notation, #858b9b);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .text3 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: #000000;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .frame2 {
        width: 36px;
        height: 36px;
      }

      .frame1321318044 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 16px;

        .frame13213180402 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: center;
          border-radius: 16px;
          background: #f9fafb;
          padding: 12px;
          height: 160px;
          overflow: hidden;
          row-gap: 10px;

          .frame1321318052 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 10px;
            margin-right: 120px;

            .frame1321318051 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 20px;
              padding: 10px;
              overflow: hidden;
              background-image: linear-gradient(
                140.57deg,
                #ff9ba2 17.28%,
                #f56a79 91.19%
              );
            }
          }
        }

        .frame1321318041 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: center;
          border-radius: 16px;
          background: #f9fafb;
          padding: 12px;
          height: 160px;
          overflow: hidden;
          row-gap: 10px;

          .frame13213180523 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 10px;
            margin-right: 120px;

            .frame13213180522 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 20px;
              padding: 10px;
              overflow: hidden;
              background-image: linear-gradient(
                180deg,
                #a7c0ff 0%,
                #6892fd 100%
              );
            }
          }
        }

        .frame13213180422 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: center;
          border-radius: 16px;
          background: #f9fafb;
          padding: 12px;
          height: 160px;
          overflow: hidden;
          row-gap: 10px;

          .frame13213180524 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 10px;
            margin-right: 120px;

            .frame13213180512 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 20px;
              padding: 10px;
              overflow: hidden;
              background-image: linear-gradient(
                180deg,
                #73f1bb 0%,
                #49dd9d 100%
              );
            }
          }
        }

        .frame1321318043 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: center;
          border-radius: 16px;
          background: #f9fafb;
          padding: 12px;
          height: 160px;
          overflow: hidden;
          row-gap: 10px;

          .frame13213180525 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 10px;
            margin-right: 120px;

            .frame13213180513 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 20px;
              padding: 10px;
              overflow: hidden;
              background-image: linear-gradient(
                180deg,
                #ffc56e 0%,
                #ffb153 100%
              );
            }
          }
        }
      }

      .frame1321318045 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 16px;

        .frame13213180403 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: center;
          border-radius: 16px;
          background: #f9fafb;
          padding: 12px;
          height: 160px;
          overflow: hidden;
          row-gap: 10px;

          .frame13213180526 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 10px;
            margin-right: 104px;

            .frame13213180514 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 20px;
              padding: 10px;
              overflow: hidden;
              background-image: linear-gradient(
                135.82deg,
                #d194ff 0%,
                #8a8eff 93.32%
              );
            }
          }
        }

        .frame13213180412 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: center;
          border-radius: 16px;
          background: #f9fafb;
          padding: 12px;
          height: 160px;
          overflow: hidden;
          row-gap: 10px;

          .frame13213180527 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 10px;
            margin-right: 120px;

            .frame13213180515 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 20px;
              padding: 10px;
              overflow: hidden;
              background-image: linear-gradient(
                132.83deg,
                #46c3ff 14.35%,
                #47aafd 84.99%
              );
            }
          }
        }

        .frame13213180423 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: center;
          border-radius: 16px;
          background: #f9fafb;
          padding: 12px;
          height: 160px;
          overflow: hidden;
          row-gap: 10px;

          .frame13213180528 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 10px;
            margin-right: 88px;

            .frame13213180516 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 20px;
              padding: 10px;
              overflow: hidden;
              background-image: linear-gradient(
                143.28deg,
                #ffa8cf 10.42%,
                #f664a5 100.69%
              );
            }
          }
        }
      }
    }
  }
}
