* {
  box-sizing: border-box;
}

.frame1321317936 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 286px;
  row-gap: 24px;

  .text {
    flex-shrink: 0;
    padding: 24px 148px;
    width: 800px;
    height: 84px;
    text-align: center;
    line-height: 36px;
    letter-spacing: 0;
    color: var(--Text-heading, #2a2f3c);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
  }

  .frame367 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    border: 1px solid var(--Line-Secondary, #e5e6eb);
    border-radius: 16px;
    box-shadow: 0px 4px 24px 0px #bfcded33;
    background: #ffffff;
    padding: 11px 15px;
    height: 120px;

    .text2 {
      flex-shrink: 0;
      width: 768px;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--Text-disable, #bcc1cd);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .frame374 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      column-gap: 8px;

      .text3 {
        flex-shrink: 0;
        line-height: 18px;
        letter-spacing: 0;
        color: #000000;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .frame1321315582 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 8px;

        .frame {
          display: inline-flex;
          flex-grow: 1;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 4px;
          opacity: 0.8;
          margin-right: 501px;
          border-radius: 15px;
          padding: 4px 12px;

          .icons {
            flex-shrink: 0;
            width: 18px;
            height: 18px;
            overflow: hidden;
          }
        }
      }

      .frame1321318053 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        column-gap: 4px;
        width: 129px;

        .group {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
        }

        .frame2 {
          flex-shrink: 0;
          border-radius: 3px;
          width: 16px;
          height: 16px;
        }
      }

      .frame1321315581 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;

        .icons2 {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          overflow: hidden;
        }

        .icons3 {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .frame1 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 12px;
    margin-right: 120px;
    margin-left: 120px;

    .frame3 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border-radius: 100px;
      padding: 8px 16px;

      .icons4 {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        overflow: hidden;
      }

      .text4 {
        flex-shrink: 0;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--Text-heading, #2a2f3c);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }
  }
}
