* {
  box-sizing: border-box;
}

.frame11 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding-right: 192px;
  width: 1440px;
  height: 900px;
  overflow: hidden;

  .frame89 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }

  .frame2 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  .frame1321318035 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #f7f7f7;
    padding-top: 24px;
    overflow: hidden;

    .frame1321318096 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-right: 24px;
      margin-left: 11px;
      min-width: 221px;

      .frame {
        flex-shrink: 0;
        width: 71px;
        height: 24px;
        overflow: hidden;
      }

      .icons {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
    }

    .frame1321318086 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 24px;
      padding-right: 12px;
      padding-left: 12px;
      row-gap: 48px;

      .frame1321318047 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        background: #f7f7f7;
        row-gap: 20px;

        .frame1321318118 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 16px;

          .text {
            flex-shrink: 0;
            align-self: stretch;
            text-align: center;
            line-height: 12px;
            letter-spacing: 0;
            color: var(--Text-notation, #858b9b);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .frame1321318117 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--Line-Secondary, #e5e6eb);
            border-radius: 14px;
            background: #ffffff;
            padding-top: 2px;
            padding-bottom: 2px;
            height: 60px;
            row-gap: 6px;
          }

          .frame1321318116 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            border-radius: 14px;
            padding-top: 3px;
            padding-bottom: 3px;
            height: 60px;
            row-gap: 6px;
          }
        }

        .frame1321318132 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 12px;

          .text2 {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--1, #171717);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .frame1321318077 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border-radius: 8px;
            background: var(--cike, #e8e8e8);
            padding-left: 8px;
            height: 38px;
          }

          .vector297 {
            flex-shrink: 0;
            background: #f0f0f0;
            width: 232px;
            height: 1px;
          }

          .frame1321318108 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 2px;

            .frame1321318080 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              border-radius: 8px;
              background: #f7f7f7;
              padding: 8px;

              .frame13213180772 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 8px;

                .text3 {
                  flex-shrink: 0;
                  line-height: 22px;
                  letter-spacing: 0;
                  color: var(--Text-heading, #2a2f3c);
                  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }
              }

              .frame1321318091 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: flex-end;
                width: 88px;

                .autoWrapper {
                  position: relative;
                  flex-shrink: 0;
                  width: 12px;
                  height: 12px;

                  .icons2 {
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    width: 12px;
                    height: 12px;
                    overflow: hidden;
                    rotate: -90deg;
                  }
                }
              }
            }

            .frame13213180773 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 8px;
              border-radius: 8px;
              background: var(--hover, #f0f0f0);
              padding: 8px 8px 8px 34px;
            }
          }
        }
      }
    }

    .frame1321317957 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      margin-top: 538px;
      row-gap: 8px;

      .frame1321318123 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-width: 1px 0px 0px;
        border-style: solid;
        border-color: var(--Line-disable, #f2f3f5);
        padding: 15px 12px 16px;

        .frame348 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          border: 1px solid var(--Icon-white, #ffffff);
          border-radius: 11px;
          background: var(--Line-activate-1, #e6efff);
          padding: 8px 7px 0px 8px;
          height: 36px;
          overflow: hidden;

          .group4634 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            padding-top: 1px;
            padding-left: 1px;

            .rectangle4430 {
              border-radius: 0px 6px 6px;
              background: var(--Line-white, #ffffff);
              width: 11px;
              height: 13px;
            }

            .rectangle4431 {
              margin-top: 2px;
              border-radius: 5px;
              background: var(--Line-white, #ffffff);
              width: 19px;
              height: 15px;
            }
          }
        }

        .frame1321318124 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: center;
          row-gap: 4px;

          .text4 {
            flex-shrink: 0;
            line-height: 18px;
            letter-spacing: 0;
            color: var(--Text-heading, #2a2f3c);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .frame1321318125 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 6px;

            .frame1321317798 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
              border-radius: 4px;
              background: var(--cike, #e8e8e8);
              padding: 3px 4px;

              .text5 {
                flex-shrink: 0;
                line-height: 10px;
                letter-spacing: 0;
                color: var(--Text-subhead, #495363);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

  .frame1321317936 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 48px;

    .text6 {
      flex-shrink: 0;
      padding: 0px 148px;
      width: 800px;
      text-align: center;
      line-height: 36px;
      letter-spacing: 0;
      color: var(--Text-heading, #2a2f3c);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
      font-weight: 500;
    }

    .frame1321318129 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 24px;

      .frame366 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 12px;

        .frame368 {
          display: flex;
          position: relative;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 12px;

          .frame3 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 4px;
            border-radius: 8px;
            background: #0056e81a;
            padding: 4px 8px;

            .text7 {
              flex-shrink: 0;
              line-height: 18px;
              letter-spacing: 0;
              color: var(--Icon-Blue, #0056e8);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 500;
            }
          }

          .frame5 {
            display: flex;
            position: absolute;
            top: 1px;
            left: 764px;
            flex-shrink: 0;
            align-items: center;
            border-radius: 4px;
            padding: 3px;
            width: 24px;
            height: 24px;
            overflow: hidden;

            .frame4 {
              width: 18px;
              height: 18px;
              overflow: hidden;
            }
          }
        }

        .frame367 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          border: 1px solid var(--Line-Secondary, #e5e6eb);
          border-radius: 16px;
          box-shadow: 0px 4px 24px 0px #bfcded33;
          background: #ffffff;
          padding: 11px 15px;
          height: 120px;

          .text8 {
            flex-shrink: 0;
            width: 768px;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--Text-disable, #bcc1cd);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .frame374 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: flex-end;
            column-gap: 8px;

            .frame6 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 4px;
              opacity: 0.8;
              border-radius: 10px;
              padding: 4px 12px;
              width: 24px;
            }

            .frame1321315582 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              column-gap: 12px;

              .frame7 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 4px;
                border-radius: 10px;
                padding: 4px 8px;

                .text9 {
                  flex-shrink: 0;
                  line-height: 16px;
                  letter-spacing: 0;
                  color: var(--Text-heading, #2a2f3c);
                  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }
              }
            }

            .frame1321315581 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 12px;

              .icons3 {
                flex-shrink: 0;
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }

      .frame1321317670 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        row-gap: 12px;

        .frame1321317924 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 12px;
          padding-left: 12px;
          min-width: 800px;

          .text10 {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Text-subhead, #495363);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 500;
          }
        }

        .frame1 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          column-gap: 12px;
          width: 800px;

          .text11 {
            flex-shrink: 0;
            line-height: 18px;
            letter-spacing: 0;
            color: var(--Text-heading, #2a2f3c);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .frame8 {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            border-radius: 100px;
            padding: 6px 16px;
            row-gap: 8px;
          }

          .frame9 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            border-radius: 100px;
            padding: 6px 16px;
          }
        }
      }
    }
  }

  .frame10 {
    position: absolute;
    top: 283px;
    left: 463px;
    width: 94px;
    height: 94px;
  }
}
