* {
  box-sizing: border-box;
}

.frame664 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 24px 24px 32px;
  width: 1190px;
  height: 900px;
  row-gap: 16px;

  .text {
    flex-shrink: 0;
    align-self: stretch;
    padding: 8px 0px;
    line-height: 30px;
    letter-spacing: 0;
    color: var(--1, #171717);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .frame1321317794 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
    overflow: hidden;
    row-gap: 24px;

    .tabGuideLine {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      column-gap: 32px;
      background: #ffffff;
      width: 1172px;

      .tab99 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Text-notation, #858b9b);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .aTab {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        row-gap: 2px;

        .tab992 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--1, #171717);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }

        .frame {
          flex-shrink: 0;
          align-self: stretch;
          border-radius: 1px;
          background: var(--1, #171717);
          height: 2px;
        }
      }
    }

    .frame1321317792 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      align-self: stretch;
      background: #ffffff;
      row-gap: 16px;

      .text11 {
        flex-shrink: 0;
        align-self: stretch;
        padding: 9px 12px;
        width: 160px;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Text-notation, #858b9b);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .a20250629105414 {
        flex-shrink: 0;
        align-self: stretch;
        padding: 9px 12px;
        width: 180px;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Text-heading, #2a2f3c);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .a {
        flex-shrink: 0;
        align-self: stretch;
        padding: 9px 12px;
        width: 100px;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Text-heading, #2a2f3c);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .component2 {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
      }

      .icons3 {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
      }

      .frame2 {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        overflow: hidden;
      }

      .text5 {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Text-heading, #2a2f3c);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .frame6 {
        flex-shrink: 0;
        border-radius: 3px;
        width: 16px;
        height: 16px;
      }

      .frame1321317876 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 4px;
        padding: 12px;
        width: 180px;
        height: 40px;
      }

      .frame1321317887 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        padding: 4px;
      }

      .frame1321317891 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        border-radius: 4px;
        padding: 4px;
      }

      .a14 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding: 1px;

        .frame3 {
          border-radius: 4px;
          background: #ffffff;
          width: 14px;
          height: 14px;
        }
      }

      .frame13213177824 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        padding: 8px 12px 8px 8px;
      }

      .frame13213177832 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 12px;

        .frame1321317826 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          row-gap: 8px;

          .frame1321317673 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;

            .text2 {
              flex-grow: 1;
              padding: 0px 0px 0px 12px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-heading, #2a2f3c);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
            }

            .frame1321317777 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: flex-end;
              column-gap: 16px;
              width: 620px;

              .picker {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 8px;
                border: 1px solid var(--Line-primary, #c9cdd4);
                border-radius: 8px;
                background: #ffffff;
                padding: 4px 7px;
                width: 330px;

                .icons {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  padding: 2px;
                  overflow: hidden;

                  .icon {
                    width: 12px;
                    height: 12px;
                  }
                }

                .text3 {
                  flex-grow: 1;
                  line-height: 22px;
                  letter-spacing: 0;
                  color: var(--Text-disable, #bcc1cd);
                  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }
              }

              .frame1321317674 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 4px;
                border-radius: 12px;
                background: var(--1, #171717);
                padding: 6px 16px;

                .text4 {
                  flex-shrink: 0;
                  line-height: 22px;
                  letter-spacing: 0;
                  color: var(--Text-white, #ffffff);
                  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                }
              }

              .frame1321317675 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 4px;
                border: 1px solid var(--Line-primary, #c9cdd4);
                border-radius: 12px;
                padding: 5px 15px;
              }
            }
          }

          .frame1321317827 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 10px;
            border-radius: 8px;
            background: var(--BG, #f7f7f7);
            padding: 6px 12px;

            .text8 {
              flex-shrink: 0;
              width: 258px;
              line-height: 17px;
              letter-spacing: 0;
              color: #000000;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 11px;

              .text6 {
                line-height: 17px;
                letter-spacing: 0;
                color: var(--Text-heading, #2a2f3c);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 11px;
              }

              .text7 {
                line-height: 17px;
                letter-spacing: 0;
                color: var(--Text-orange, #ff7300);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 11px;
              }
            }
          }
        }

        .frame13213177842 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          border-radius: 4px;
          background: var(--Bg-1, #f9f9fa);
          height: 38px;

          .vector265 {
            position: absolute;
            top: 11px;
            left: 180px;
            flex-shrink: 0;
            background: #e5e6eb;
            width: 1px;
            height: 16px;
          }

          .text9 {
            flex-shrink: 0;
            line-height: 18px;
            letter-spacing: 0;
            color: var(--Text-heading, #2a2f3c);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .frame1321317782 {
            display: flex;
            position: relative;
            align-items: center;
            column-gap: 12px;
            padding: 10px 12px;
            width: 522px;

            .icons2 {
              display: flex;
              position: relative;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding: 10px 4px 4px 7px;

              .rectangle1406 {
                position: absolute;
                top: 3px;
                left: 2px;
                width: 10px;
                height: 10px;
                rotate: -180deg;
              }

              .autoWrapper {
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
                padding-right: 0;
                padding-left: 0;

                .vector260 {
                  width: 3px;
                  height: 1px;
                }

                .vector261 {
                  margin-top: 2px;
                  width: 5px;
                  height: 1px;
                }
              }
            }

            .vector263 {
              position: absolute;
              top: 11px;
              left: 522px;
              flex-shrink: 0;
              background: #e5e6eb;
              width: 1px;
              height: 16px;
            }
          }

          .frame1321317783 {
            display: flex;
            position: relative;
            align-items: center;
            column-gap: 10px;
            padding: 10px 12px;
            width: 100px;

            .vector264 {
              position: absolute;
              top: 11px;
              left: 100px;
              flex-shrink: 0;
              background: #e5e6eb;
              width: 1px;
              height: 16px;
            }
          }

          .frame1321317784 {
            display: flex;
            position: relative;
            align-items: center;
            column-gap: 10px;
            padding: 10px 12px;
            width: 180px;
          }

          .frame1321317785 {
            display: flex;
            position: relative;
            align-items: center;
            column-gap: 8px;
            padding: 10px 12px;
            width: 180px;
          }

          .text10 {
            padding: 10px 12px;
            width: 160px;
            height: 38px;
            line-height: 18px;
            letter-spacing: 0;
            color: var(--Text-heading, #2a2f3c);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }

      .frame13213177843 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;

        .frame13213177822 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          padding: 8px 12px 8px 8px;

          .instance {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            padding: 3px 1px 3px 0px;

            .frame4 {
              width: 24px;
              height: 18px;
            }
          }
        }

        .a2 {
          flex-shrink: 0;
          padding: 9px 12px;
          width: 180px;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-heading, #2a2f3c);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }

        .frame1321317781 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          padding-right: 12px;
          padding-left: 12px;
          width: 160px;
        }
      }

      .frame13213177844 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border-radius: 4px;
        background: var(--hover, #eeeeee);

        .frame13213177823 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          padding: 8px 12px 8px 8px;

          .a142 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            padding: 1px;

            .frame5 {
              border: 1px solid var(--Icon-secodary, #bcc1cd);
              border-radius: 4px;
              background: #ffffff;
              width: 14px;
              height: 14px;
            }
          }
        }
      }

      .frame13213177845 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
      }

      .frame13213177846 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;

        .frame13213177825 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding: 8px 346px 8px 32px;

          .component22 {
            width: 24px;
            height: 24px;
          }

          .text12 {
            line-height: 22px;
            letter-spacing: 0;
            color: var(--Text-heading, #2a2f3c);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .frame13213177847 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;

        .frame13213178762 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          padding: 8px 12px;
          width: 180px;
        }

        .frame13213177812 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          padding-right: 12px;
          padding-left: 12px;
          width: 160px;

          .frame1321317888 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 10px;
            border-radius: 4px;
            padding: 4px;
          }

          .frame1321317890 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 10px;
            padding: 4px;
          }
        }
      }
    }
  }
}
