* {
  box-sizing: border-box;
}

.frame1321317936 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 294px;
  row-gap: 48px;

  .text {
    flex-shrink: 0;
    padding: 0px 148px;
    width: 800px;
    text-align: center;
    line-height: 36px;
    letter-spacing: 0;
    color: var(--Text-heading, #2a2f3c);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
  }

  .frame1321318131 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 24px;

    .icons {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .frame367 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border: 1px solid var(--Line-disable, #f2f3f5);
      border-radius: 16px;
      box-shadow: 0px 4px 24px 0px #bfcded33;
      background: #ffffff;
      padding: 11px 15px;
      height: 120px;

      .text2 {
        flex-shrink: 0;
        width: 768px;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Text-disable, #bcc1cd);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .frame374 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        column-gap: 8px;

        .frame {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 4px;
          opacity: 0.8;
          border-radius: 10px;
          padding: 4px 12px;
          width: 24px;
        }

        .frame1321315582 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          column-gap: 8px;
        }

        .frame1321318053 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: flex-end;
          column-gap: 4px;
          width: 129px;

          .frame1321318051 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            border-radius: 6px;
            padding: 3px;
            overflow: hidden;
            background-image: linear-gradient(
              140.57deg,
              #ff9ba2 17.28%,
              #f56a79 91.19%
            );

            .frame2 {
              width: 10px;
              height: 10px;
            }
          }

          .text3 {
            flex-shrink: 0;
            line-height: 18px;
            letter-spacing: 0;
            color: #000000;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .frame3 {
            flex-shrink: 0;
            border-radius: 3px;
            width: 16px;
            height: 16px;
          }
        }

        .frame1321315581 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;

          .icons2 {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    .frame1321318130 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;

      .text4 {
        flex-shrink: 0;
        padding: 0px 12px;
        width: 800px;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Text-subhead, #495363);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 500;
      }

      .frame1 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;

        .frame4 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border-radius: 100px;
          padding: 8px 16px;

          .text5 {
            flex-shrink: 0;
            line-height: 18px;
            letter-spacing: 0;
            color: var(--Text-notation, #858b9b);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }
      }
    }
  }
}
