* {
  box-sizing: border-box;
}

.frame1321318096 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 221px;
  height: 24px;

  .frame {
    flex-shrink: 0;
    width: 71px;
    height: 24px;
    overflow: hidden;
  }

  .icons {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
}
